.content-container{
    height: 100%;
    width: 100%;
}

.sidebar{
    float: left;
    height: 100%;
    width: 200px;
}

.home{
    float: right;
    height: 100%;
    width: calc(100% - 200px);
}


@media screen and (max-width: 800px) {

    .home {
        width: calc(100% - 70px);
    }


    .sidebar{
        width: 70px;
    }

}