.toolbar{
    height: 100%;
    background-color:#044d66;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #107a9e;
    padding: 0px 10px;
}

.fa{
    font-size: 40px;
    color: white;
}

.name{
    color: white;
    font-size: 30px;
    padding: 0 30px;
}