.check-icon{
    width: 5%;
    height: 30px;
    /* background-color: aqua; */
    text-align: center;
    display: inline-block;
}

#task-item{
    /* height: 100px; */
    display: flex;
    align-items: center;
    padding: 25px 5px;
}

#title{
    width: 25%;
    /* background-color: aquamarine; */
    display: inline-block;
}

#description{
    width: 40%;
    /* background-color: bisque; */
    display: inline-block;
    text-align: center;
    padding: 0px 10px;


}

.check-icon{
    color: rgb(131, 218, 0);
    font-size: 20px;
    padding: 2px;
}

#due-date{
    width: 20%;
    /* background-color: blueviolet; */
    text-align: center;
    display: inline-block;
}

.priority{
    text-align: center;
    width: 10%;
    display: inline-block;
    /* background-color: chartreuse; */
    display: inline-block;
}