.sidebar{
    height: 100%;
    width: 100%;
    background-color: #044d66;
    display: flex;
    flex-direction: column;
}


.sidebar div:last-child{
    margin-top: auto;
    // margin-bottom: 5px;
}

.my-task, .home, .help{
        padding: 15px 10px;
        font-size: 25px;
        color: white;
        cursor: pointer;
}


.selectedPage{
    background-color: rgba(218, 218, 218, 0.24);
    border: 1px solid black;
}





.help{
    padding: 10px 10px;
}

.sidebar div:hover{
    background-color: rgba(218, 218, 218, 0.085);
}

// .sidebar div:active{
//     background-color: rgba(218, 218, 218, 0.24);
// }


@media screen and (max-width: 800px) {


    .icon-text{
        width: 100%;
        // background-color: bisque;
        display: block;
        text-align: center;
    }


    .sidebar{
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        padding: 0;
    }

    .sidebar div:last-child{
       margin: 0;
    }

    .my-task, .home, .help{
        // width: 100%;
        height: auto;
        padding: 10px;
        justify-content: center;
        text-align: center;
        font-size: 20px;
        margin: 0;
        flex-grow: 1;
        // align-items: center;
        // background-color: aquamarine;
    }

    // .help{
    //     background-color: azure;
    // }

    // .home{
    //     background-color: cadetblue;
    // }

    // .my-task{
    //     background-color: brown;
    // }

    

}