.sidebar{
    height: 100%;
    width: 100%;
    background-color: #044d66;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}


.sidebar div:last-child{
    margin-top: auto;
    margin-bottom: 5px;
}

.my-task, .home, .help{
        padding: 15px 10px;
        font-size: 25px;
        color: white;
        cursor: pointer;
}

.help{
    padding: 10px 10px;
}


@media screen and (max-width: 800px) {


    .icon-text{
        width: 100%;
        // background-color: bisque;
        display: block;
        text-align: center;
    }


    .sidebar{
        flex-direction: row;
        // justify-content: center;
        align-items: stretch;
    }

    .my-task, .home, .help{
        // width: 100%;
        padding: 0;
        justify-content: center;
        text-align: center;
        padding: 0px 20px;
        margin: 0;
        flex-grow: 1;
        // align-items: center;
        // background-color: aquamarine;
        // align-items: center;
    }

    

}