<div class="sidebar" > 
    <div class="home" routerLink="/home">
        <fa-icon class="home" [icon]="faHome"></fa-icon>
        <span class="icon-text">Home</span>
    </div>
    <div class="my-task" class="home" routerLink="/myTasks">

        <fa-icon class="my-task" [icon]="faListCheck"></fa-icon>
        <span class="icon-text">My Tasks</span>
    </div>

    <div class="help">
        <fa-icon class="my-task" [icon]="faQuestionCircle"></fa-icon>
        <span class="icon-text">help</span>
    </div>
</div>



<!--  *ngIf="isOpen" -->