

.task-list-container {
    height: calc(100% - 50px);
    // background-color: aquamarine;
    overflow: auto;
}


@media screen and (max-width: 800px) {

    .task-list-container {
        height: auto;
        padding: 10px 0px;
        margin-top: 30px;

        // background-color: aquamarine;
        // overflow: auto;
    }

}