.my-tasks{
    height: 100%;
    width: 100%;
    // background-color: rgb(226, 224, 222);
    // overflow: auto;
    border: 2px solid #107a9e;

}


.header{
    height: 60px;
    font-weight: 450;
    // margin: 10px;
    padding: 10px;
    // background-color: aquamarine;
    font-size: 25px;
}

.completed-filter{
    float: right;
    font-weight: 450;
    margin: 10px;
    font-size: 20px;
}

.add-task-dialog{
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.task-lists-containder{
    height: calc(100% - 100px) ;
    padding: 5px 10px;
    overflow: auto;
    // background-color: antiquewhite;
    // width: ;
}

.task-list{
    padding: 10px 0px;
    // height: calc(100% * 0.333);
    // background-color: rgb(188, 129, 51);
    // overflow: auto;
    // width: ;
}

.footer{
    height: 40px;
    width: 100%;
}


@media screen and (max-width: 800px) {

    .header{
        font-size: 20px;
    }

    .completed-filter{
        font-size: 15px;
    }
}    